@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-text-style {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* The shear allrun class style */
.display_flax {
  display: flex;
}

.banar-backgroun-color {
  background-color: rgba(255, 14, 101, 0.1);
}

/* the shear caollor style*/
.color-1-normal {
  color: #131313;
}

.color-2-mid {
  color: #424242;
}

/* Headder arrea banar site content */
/* nabigition content calss */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.banar {
  font-size: 2.8rem;
  font-weight: 700;
}

.link-item {
  list-style: none;
}

.ankur {
  text-decoration: none;
  margin-right: 10px;
}

/* nav  is allrady complyted */
.navbar,
.banar-header {
  width: 1440px;
  margin: 0 auto;
}

/* the banar text area content digine */
.banar-text-content {
  text-align: center;
  width: 868px;
  margin: 0 auto;
}
.banar-tityle{
  font-size: 4rem;
  font-weight: 700;
}
.banar-discrip{
  font-size: 1rem;
  font-weight: 400;
}
/* the banar button in link */
.button-primary{
  padding: 20px;
  border-radius: 6px;
  border: none;
  background-color: rgba(255, 144, 14, 1);
  color: white;
}
.heder_banar-pic{
  width: 100%;
}